body {	

	padding: 0;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;

}

.inner {
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 120px;
	margin: 8px 0 5px 0;
}

.item {
	text-align: center;

}
@font-face {
    font-family: Gilroy; /* Гарнитура шрифта */
    src: url(Gilroy-Light.ttf); /* Путь к файлу со шрифтом */
   }
p {
	margin: 4px 40px 0 40px;
	padding: 0;
	font-size: 14px;
	font-family: Gilroy;
  }
.btn {
	margin:2px 0 0 0 ;
	font-family: Gilroy;
	display: inline-block;
	padding: 7px 15px;
	border: none;
	background:#0E5ED7;
	border-radius: 15px;

	transition: background .2s linear;
}

.btn:hover {
	background: rgb(18, 172, 192);
}

.usercard {
	text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
